= link_to 'Create Content', new_content_path
%br
%br
- @contents.each do |content|
  = link_to content.title, content_path(content)
  %br
  = truncate(content.description, :length => 300)
  %br
  Tags:
  = content.tags_array
  %br
  %br