%div.main_content
  %div.content
    %br
    = link_to @content.title, content_path(@content)
    %br
    = @content.description
    %br
  = link_to 'edit', edit_content_path(@content), class: 'btn btn-primary span2 offset'